.video-wrapper {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    text-shadow: 0 0 1px black;
    scroll-snap-align: start;
}

.video-player {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.bottom {
    display: flex;
    align-items: flex-end;
    height: 100%;
}