.video-wrapper {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100%;
    text-shadow: 0 0 1px black;
}

.video-player {
    
    width: 100%;
    height: 100%;
    object-fit: fill;
}